//- footer.pug - Підвал

footer.footer
    .container
        .footer-content
            .footer-section
                h4 Про MyStore
                p E-commerce демонстрація з Node.js, Express, та різними шаблонізаторами.
            .footer-section
                h4 Навігація
                ul
                    li: a(href="/") Головна
                    li: a(href="/products") Каталог
                    li: a(href="/auth/login") Вхід
                    li: a(href="/auth/signup") Реєстрація
            .footer-section
                h4 Технології
                p Pug | EJS | Handlebars
                p MySQL | MongoDB
                p Express | Sequelize | Mongoose
        .footer-bottom
            p &copy; 2026 MyStore. Всі права захищені.